/*
 * Estilos de tu proyecto
 */

 *{
 	box-sizing: border-box;
 	margin: 0;
 	padding: 0;
 	font-family: 'Patua One', cursive;
 }

 /* diseño para el encabezado*/
 header{
 	background-color: #093961;
 	color: whitesmoke;
 	padding: 2%;
 	position: fixed;
 	width:100%;
 }

 .link{
 	float: right;
 	padding: 10px;
 	margin-right: 10px;
 }

 h2{
 	padding-left: 60px;
 }

 .link:hover{
 	color: #34CEF4;
 }

 /*estilos de home*/

 #home{
	background-color: #1FCA96;
	color: whitesmoke;
	text-align: center;
	padding:17%;
	font-size: 40px;
}

/* diseño para sección contactos*/

.contacto{
	background-color: #324B7A;
	color: whitesmoke;
	padding: 10%;
	text-align: center;
}
 .col-4{
 	float: left;
 	height: 10%;
 	width: 30%;
 	text-align: center;
 }

.iconos{
	width: 10%;
	height: 7%;
}

a{
	color: #34CEF4;
}

 /* diseño para el footer*/

 footer{
 	background-color: #093961;
 	color:whitesmoke;
 	padding:10%
 	bottom:0;
 	text-align: center;
 }






